.container {
    width: 100vw;
    height: 100vh;
    background: var(--gradient-bg);
    color: white;
    font-weight: 700;
    font-size: 14px;
  }

header {
    height: 9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.37vh;
}

.loginBtnBg {
    display: flex;
    width: 140px;
    height: 37px;
    align-items: center;
    border-radius: 10px;
    background: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.titleContainer {
    margin-top: 8.125vh;
    margin-bottom: 5.625vh;
    margin-left: 2.5vw;
}

h1 {
    display: flex;
    flex-direction: column;
    color: var(--purple-400);
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.5rem;
    margin: 0 0 1vw 0;
}