.loginBtnBg {
    display: flex;
    width: 140px;
    height: 37px;
    align-items: center;
    border-radius: 10px;
    background: var(--white);
}

.logInSwt , .signInSwt {
    width: 70px;
    height: 37px;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: white;
    color: rgb(245, 198, 32);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

#logInSwt.selected , .signInSwt.selected {
    background-color: rgb(161, 52, 246);
    color: white;
}

hr {
    border-top: 0.125vh solid white;
    width: 100vw;
    margin-top: 1vh;
}