.loginBtn {
    width: 320px;
    height: 36px;
    border-width: 0px;
    border-radius: 10px;
    background-color: var(--purple-400);
    margin-top: 35px;
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.loginBtn:disabled {
    background-color: gray;
    color: rgb(134, 85, 172);
}