:root {
    --yellow: rgb(245, 198, 32);
    --purple: rgb(161, 52, 246);
    --white: rgb(255, 255, 255);
    --dark-purple: rgb(88, 36, 128);
    --light-purple: rgb(134, 85, 172);
    --gray: rgb(105, 105, 105);
}