.loginBtnBg {
    display: flex;
    width: 140px;
    height: 37px;
    align-items: center;
    border-radius: 10px;
    background: var(--white);
}

.switch {
    width: 70px;
    height: 37px;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--yellow);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.selected {
    width: 70px;
    height: 37px;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    background-color: var(--purple-400);
    color: var(--white);
}

hr {
    border-top: 0.125vh solid var(--white);
    width: 100vw;
    margin-top: 1vh;
}